---
import Layout from "../layouts/Layout.astro";
---
<Layout title="About SpaceX Launches proyect">
    <h1 class="text-white">About the proyect</h1>
    <p>The SpaceX launches project is a demo for the Astro Course</p>
</Layout>